<!DOCTYPE html>
<html lang="en">
<link rel="shortcut icon" href="{{ url_for('static', filename='Home.png')}}">
<!-- Google AJAX -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{
  url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
<!-- -->
<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Welcome! - Apartment "B"</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">

    <!-- Contacts CSS -->
    <link href="{{ url_for('static', filename='css/contacts.css')}}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='css/scrolling-nav.css')}}" rel="stylesheet">

    <!-- Button CSS -->
    <link href="{{ url_for('static', filename='css/button.css')}}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- iOS scroll checkbox -->
    <script src="{{ url_for('static', filename='iphone-style-checkboxes/jquery/iphone-style-checkboxes.js')}}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='iphone-style-checkboxes/style.css')}}"/>
    <script type="text/javascript">
        $(document).ready(function() {
          $(':checkbox').iphoneStyle();
        });
    </script>

    <style type="text/css">
        body {
          padding: 10px; }
        th {
          text-align: right;
          padding: 4px;
          padding-right: 15px;
          vertical-align: top; }
        .css_sized_container .iPhoneCheckContainer {
          width: 250px; }
    </style>

    <script type="text/javascript" charset="utf-8">
        $(window).load(function() {
          $('.on_off :checkbox').iphoneStyle();
          $('.disabled :checkbox').iphoneStyle();
          $('.css_sized_container :checkbox').iphoneStyle({ resizeContainer: false, resizeHandle: false });
          $('.long_tiny :checkbox').iphoneStyle({ checkedLabel: 'Very Long Text', uncheckedLabel: 'Tiny' });

          var onchange_checkbox = ($('.onchange :checkbox')).iphoneStyle({
            onChange: function(elem, value) {
              $('span#status').html(value.toString());
            }
          });

          setInterval(function() {
            onchange_checkbox.prop('checked', !onchange_checkbox.is(':checked')).iphoneStyle("refresh");
            return
          }, 2500);
        });
    </script>

</head>

<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Apartment "B"</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a class="page-scroll" href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Services</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Section -->
    <section id="intro" class="intro-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Weclome!</h1>
                    <p><strong>[Hey, I am setting things up]</p>
                    <!--a class="btn btn-default page-scroll" href="#about">Click Me to Scroll Down!</a-->

                    <!-- Send AJAX request to the server... -->
                    <script type=text/javascript>
                      $(function() {
                        $('div#_req').bind('click', function() {
                          $.getJSON($SCRIPT_ROOT + '/board/12', {
                            ajax_request: $('input[name="ajax_request"]').val(),
                          }, function(data) {
                            $("#result").text(data.result);
                          });
                          return false;
                        });
                      });
                    </script>
                    <!--p><input type=text size=5 name=ajax_request>
                       <span id=result>?</span-->
                    <!--p><a href=# id=_req>Calculate on the Server Side</a-->
                    <!-- ...Send AJAX request to the server -->


                    <!-- Garage Door Button... -->
                    <p> <i>Garage Door Button</i></p>
                    <div href=# id=_req class="box"> <span></span> </div>
                    <!-- ...Garage Door Button -->

                </div>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section id="about" class="about-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Lights</h1>
                    <!--div href=# id=_req class="myButton">ON</div-->
                </div>

            </div>
        </div>
    </section>

    <!-- Services Section -->
    <section id="services" class="services-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Services Section</h1>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="contact-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Contact Section</h1>
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="media">
                                <a class="pull-left">
                                    <img class="media-object dp img-circle" src="{{ url_for('static', filename='Abay_avatar.jpg')}}" style="width: 100px;height:100px;">
                                </a>
                                <div class="media-body">
                                    <h4 class="media-heading">Abay Bektursun <small>(501) 269-5376 Computer Science, Junior</small></h4>
                                    <h5>Software Developer Intern at <a href="http://www.centene.com">Centene</a></h5>
                                    <hr style="margin:8px auto">

                                    <span class="label label-primary"><a href="https://www.facebook.com/abaybektursu" class="link">Facebook</a></span>
                                    <span class="label label-info"><a href="https://twitter.com/abaybektursun">Twitter</a></span>
                                    <span class="label label-danger"><a href="https://plus.google.com/+abaybektursun/" class="link">Google</a></span>

                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Name -->
                        <div class="col-lg-5">
                            <div class="media">
                                <a class="pull-left">
                                    <img class="media-object dp img-circle" src="{{ url_for('static', filename='instagram.png')}}" style="width: 100px;height:100px;">
                                </a>
                                <div class="media-body">
                                    <h4 class="media-heading">New Resident <small>[phone number] [major], [classification]</small></h4>
                                    <h5>[Position in] <a href="http://www.google.com">[Organization]</a></h5>
                                    <hr style="margin:8px auto">

                                    <span class="label label-primary"><a href="https://www.facebook.com/abaybektursu" class="link">Facebook</a></span>
                                    <span class="label label-info"><a href="https://twitter.com/abaybektursun">Twitter</a></span>
                                    <span class="label label-danger"><a href="https://plus.google.com/+abaybektursun/" class="link">Google</a></span>


                                </div>
                            </div>
                        </div>

                    <!-- Charles Bertram-->
                        <div class="col-lg-5">
                            <div class="media">
                                <a class="pull-left">
                                    <img class="media-object dp img-circle" src="{{ url_for('static', filename='Charles_Bertram_avatar.jpg')}}" style="width: 100px;height:100px;">
                                </a>
                                <div class="media-body">
                                    <h4 class="media-heading">Charles Bertram <small>(561)371-7535 Physics, Senior</small></h4>
                                    <h5>Member of <a href="https://www.facebook.com/groups/spsatuca/">SPS</a></h5>
                                    <hr style="margin:8px auto">

                                    <span class="label label-primary"><a href="https://www.facebook.com/charles.bertram.372" class="link">Facebook</a></span>
                                    <span class="label label-info"><a href="https://twitter.com/">Twitter</a></span>
                                    <span class="label label-danger"><a href="https://plus.google.com/" class="link">Google</a></span>


                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </section>

    <!-- jQuery -->
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    <!-- Scrolling Nav JavaScript -->
    <script src="{{ url_for('static', filename='js/jquery.easing.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/scrolling-nav.js') }}"></script>

</body>

</html>
